@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~normalize.css";
@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";
@import "breakpoints.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color-white;
  font-family: "Montserrat", sans-serif;

  @include for-phone {
    position: fixed;
    height: 100vh;
    overflow: hidden;
  }
}

a,
button {
  cursor: pointer;
}

input {
  outline: none;
}

.page {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.wrapper {
  width: 1380px;
  padding: 40px 0 0 0;

  @include for-phone {
    padding: 20px 0 0 0;
    width: calc(100% - 20px);
  }
}

.button {
  padding: 5px 10px;
  border: 1px solid #c8c7d1;
  background-color: #ffffff00;
  box-sizing: border-box;
  border-radius: 5px;

  color: $color-black;

  font-size: 14px;

  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    background-color: #ffffff00;
    border: 1px solid $color-primary;
    color: $color-black;
  }
}

.buttonPrimary {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: #ffffff;
}

.buttonIcon {
  margin: 0 13px 0 5px;
}

.filterBtn {
  margin: 0 16px;
}

.xlsxBtn {
  margin: 0 16px 0 0;
}
