@import "./../../../../styles/global.scss";

.log {
    margin: 0 0 15px 0;

    p {
        font-size: 15px;
        line-height: 21px;
    }

    .date,
    .time {
        margin: 0 10px 0 0;
        color: $color-grey;

        @include for-phone {
            margin: 0 15px 0 0;
        }
    }

    .date {
    }

    .user {
        margin: 0 10px 0 0;
    }

    .action {
        color: $color-primary;
    }
}
